server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/biblioteca
    username: adm
    password: 123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update    # 'update' mantém dados, 'create-drop' recria toda vez
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never         # evita tentar rodar schema em toda inicialização

debug: true
